<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Lightweight NetCore MVC Template
                </h2>
                <p>
                    Created using .NET Core 1.1 MVC
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="https://c24e867c169a525707e0-bfbd62e61283d807ee2359a795242ecb.ssl.cf3.rackcdn.com/imagenes/gato/etapas-clave-de-su-vida/gatitos/nuevo-gatito-en-casa/gatito-durmiendo-en-cama.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>

