<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Lightweight NetCore MVC Template
                </h2>
                <p>
                    Created using .NET Core 2.1 MVC
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="https://i.imgur.com/hPauXQZ.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>